.yui-skin-sam .yui-calendar td.calcell a {
    color: #FFFFFF !important; /* White text */
}

.yui-skin-sam .yui-calendar td.calcell.selected, 
.yui-skin-sam .yui-calendar td.calcell.selected a {
    background-color: #FFFF00 !important; /* Yellow background */
    color: #000000 !important; /* Black text */
}

.yui-skin-sam .yui-calendar .calweekdaycell {
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
