.yui-skin-sam .yui-calendar td.calcell a {
    color: #FFFFFF !important; /* White text */
}

.yui-skin-sam .yui-calendar td.calcell.selected, 
.yui-skin-sam .yui-calendar td.calcell.selected a {
    background-color: #FFFF00 !important; /* Yellow background */
    color: #000000 !important; /* Black text */
}

.yui-skin-sam .yui-calendar .calweekdayrow th
{
    color: #FFFFFF !important; /* White text */
}
